@model List<EntityLayer.Models.Marka>

@{
    ViewData["Title"] = "Markalar";
    Layout = "~/Views/Shared/_CoreLayout.cshtml";
}

<h2>Markalar</h2>

<a asp-action="MarkaEkle" class="btn btn-success mb-3">Yeni Marka Ekle</a>

<table class="table table-striped">
    <thead>
        <tr>
            <th>#</th>
            <th>Marka Adı</th>
            <th>İşlemler</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var marka in Model)
        {
            <tr>
                <td>@marka.Id</td>
                <td>@marka.Ad</td>
                <td>
                    <a href="@Url.Action("MarkaGuncelle", "Marka", new { id = marka.Id })" class="btn btn-warning">Güncelle</a>

                    <a href="@Url.Action("MarkaSil", "Marka", new { id = marka.Id })" class="btn btn-danger">Sil</a>
                </td>
            </tr>
        }
    </tbody>
</table>
