
@{
    ViewData["Title"] = "Giris";
    Layout = "~/Views/Shared/_GirisLayout.cshtml";
}


<h2>Yönetim Paneli Giriş</h2>

<form asp-action="Giris" method="post">
    <div class="mb-3">
        <label for="eposta" class="form-label">E-Posta</label>
        <input type="email" class="form-control" name="eposta" required />
    </div>
    <div class="mb-3">
        <label for="sifre" class="form-label">Şifre</label>
        <input type="password" class="form-control" name="sifre" required />
    </div>

    @if (ViewBag.Hata != null)
    {
        <div class="alert alert-danger">@ViewBag.Hata</div>
    }

    <button type="submit" class="btn btn-primary w-100">Giriş Yap</button>
</form>

