<div id="layoutSidenav_nav">
    <nav class="sb-sidenav accordion sb-sidenav-dark" id="sidenavAccordion">
        <div class="sb-sidenav-menu">
            <div class="nav">

                <div class="sb-sidenav-menu-heading">Yönetim</div>
                @if (ViewBag.RolID != null && ViewBag.RolID == 3)  
                {
                    <a class="nav-link" asp-controller="Personel" asp-action="Index">
                        <div class="sb-nav-link-icon"><i class="fas fa-user-tie"></i></div>
                        Personeller
                    </a>
                    <a class="nav-link" asp-controller="Rol" asp-action="Index">
                        <div class="sb-nav-link-icon"><i class="fas fa-id-badge"></i></div>
                        Roller
                    </a>
                }

                <div class="sb-sidenav-menu-heading">Ürün Yönetimi</div>
                <a class="nav-link" asp-controller="Urun" asp-action="Index">
                    <div class="sb-nav-link-icon"><i class="fas fa-box-open"></i></div>
                    Ürünler
                </a>
                <a class="nav-link" asp-controller="UrunVaryasyon" asp-action="Index">
                    <div class="sb-nav-link-icon"><i class="fas fa-boxes"></i></div>
                    Ürün Varyasyonları
                </a>
                <a class="nav-link" asp-controller="Kategori" asp-action="Index">
                    <div class="sb-nav-link-icon"><i class="fas fa-tags"></i></div>
                    Kategoriler
                </a>
                <a class="nav-link" asp-controller="Marka" asp-action="Index">
                    <div class="sb-nav-link-icon"><i class="fas fa-trademark"></i></div>
                    Markalar
                </a>

                <div class="sb-sidenav-menu-heading">Müşteri ve Kargo</div>
                <a class="nav-link" asp-controller="Musteri" asp-action="Index">
                    <div class="sb-nav-link-icon"><i class="fas fa-users"></i></div>
                    Müşteriler
                </a>
                <a class="nav-link" asp-controller="KargoFirma" asp-action="Index">
                    <div class="sb-nav-link-icon"><i class="fas fa-shipping-fast"></i></div>
                    Kargo Firmaları
                </a>

                <div class="sb-sidenav-menu-heading">Sistem</div>
                <a class="nav-link" asp-controller="Parametre" asp-action="Index">
                    <div class="sb-nav-link-icon"><i class="fas fa-cogs"></i></div>
                    Parametreler
                </a>

            </div>
        </div>
        <div class="sb-sidenav-footer">
            <div class="small">Giriş Yapan:</div>
            @ViewBag.PersonelAdSoyad
        </div>
    </nav>
</div>
