<footer class="py-4 bg-light mt-auto border-top">
    <div class="container-fluid px-4">
        <div class="d-flex align-items-center justify-content-between small">
            <div class="text-muted">© 2025 Elektronik Mağaza Satış Yönetim Sistemi</div>
            <div>
                <a href="#">Gizlilik Politikası</a>
                &middot;
                <a href="#">Kullanım Şartları</a>
                &middot;
                <a href="#">İletişim</a>
            </div>
        </div>
    </div>
</footer>
