@model EntityLayer.Models.Musteri

@{
    ViewData["Title"] = "Yeni Müşteri Ekle";
    Layout = "~/Views/Shared/_CoreLayout.cshtml";
}

<h2>Yeni Müşteri Ekle</h2>

<form asp-action="MusteriEkle" method="post">
    <div class="form-group">
        <label>Ad</label>
        <input asp-for="Ad" class="form-control" />
        <span asp-validation-for="Ad" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label>Soyad</label>
        <input asp-for="Soyad" class="form-control" />
        <span asp-validation-for="Soyad" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label>E-posta</label>
        <input asp-for="Eposta" class="form-control" />
        <span asp-validation-for="Eposta" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label>Telefon</label>
        <input asp-for="Telefon" class="form-control" />
        <span asp-validation-for="Telefon" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label>Şifre</label>
        <input asp-for="Sifre" class="form-control" type="password" />
        <span asp-validation-for="Sifre" class="text-danger"></span>
    </div>
    <button type="submit" class="btn btn-success">Kaydet</button>
</form>
